on early-init
    # boot perf. tune
    write /proc/perfmgr/boost_ctrl/cpu_ctrl/boot_freq "0 0 0 0"
    write /sys/devices/platform/10012000.dvfsrc/helio-dvfsrc/dvfsrc_req_ddr_opp 0

on init
    # increase sysctl_rmem_max and sysctl_wmem_max values to 2M
    write /proc/sys/net/core/wmem_max 8388608
    write /proc/sys/net/core/rmem_max 8388608

    # update cpus for cpuset cgroup
    write /dev/cpuset/foreground/cpus 0-7
    write /dev/cpuset/foreground/boost/cpus 0-7
    write /dev/cpuset/background/cpus 0-3
    write /dev/cpuset/system-background/cpus 4-7
    write /dev/cpuset/top-app/cpus 0-7
    write /dev/cpuset/restricted/cpus 2-7

    # update bg rt_runtime 100ms
    write /dev/cpuctl/bg_non_interactive/cpu.rt_runtime_us 100000

on fs
    write /dev/memcg/memory.swappiness 180
    write /dev/memcg/apps/memory.swappiness 180
    write /dev/memcg/system/memory.swappiness 180
    write /proc/sys/vm/swappiness 180

on post-fs
    # boot perf. tune
    write /proc/perfmgr/boost_ctrl/eas_ctrl/boot_boost "0 100"
    write /proc/perfmgr/boost_ctrl/eas_ctrl/boot_boost "1 100"
    write /proc/perfmgr/boost_ctrl/eas_ctrl/boot_boost "2 100"
    write /proc/perfmgr/boost_ctrl/eas_ctrl/boot_boost "3 100"

on post-fs-data
    # boot time fs tune
    write /sys/block/mmcblk0/queue/iostats 0
    write /sys/block/mmcblk0/queue/read_ahead_kb 2048
    write /sys/block/mmcblk0/queue/nr_requests 256
    write /sys/block/dm-0/queue/read_ahead_kb 2048
    write /sys/block/dm-1/queue/read_ahead_kb 2048
    write /sys/block/dm-2/queue/read_ahead_kb 2048
    write /sys/block/dm-3/queue/read_ahead_kb 2048
    write /sys/block/dm-4/queue/read_ahead_kb 2048
    write /sys/block/dm-5/queue/read_ahead_kb 2048

on property:sys.boot_completed=1
    write /sys/block/mmcblk0/queue/iostats 1
    write /sys/block/mmcblk0/queue/read_ahead_kb 512
    write /sys/block/mmcblk0/queue/nr_requests 128
    write /sys/block/dm-0/queue/read_ahead_kb 128
    write /sys/block/dm-1/queue/read_ahead_kb 128
    write /sys/block/dm-2/queue/read_ahead_kb 128
    write /sys/block/dm-3/queue/read_ahead_kb 128
    write /sys/block/dm-4/queue/read_ahead_kb 128
    write /sys/block/dm-5/queue/read_ahead_kb 128

    write /dev/stune/schedtune.boost 0
    write /dev/stune/foreground/schedtune.boost 0
    write /dev/stune/background/schedtune.boost 0
    write /dev/stune/top-app/schedtune.boost 0
    write /dev/stune/rt/schedtune.boost 0
    write /sys/devices/system/cpu/eas/enable 1
    write /proc/cpufreq/cpufreq_sched_disable 0
    chown system system /dev/stune/foreground/schedtune.prefer_idle
    chown system system /dev/stune/top-app/schedtune.prefer_idle
    chown system system /dev/stune/rt/schedtune.prefer_idle
    write /dev/stune/foreground/schedtune.prefer_idle 0
    write /dev/stune/top-app/schedtune.prefer_idle 0
    write /dev/stune/rt/schedtune.prefer_idle 0
    write /dev/stune/top-app/schedtune.boost 1
    write /proc/sys/kernel/sched_migration_cost_ns 200000
    write /proc/sys/net/ipv4/tcp_mtu_probing 1
    write /proc/sys/net/ipv4/ip_no_pmtu_disc 0
    write /proc/sys/kernel/panic_on_rcu_stall 0

    # switch to sched-dvfs
    write /sys/devices/system/cpu/cpufreq/policy0/scaling_governor "schedplus"
    write /sys/devices/system/cpu/cpufreq/policy4/scaling_governor "schedplus"

    # restore perf. parameters
    write /proc/perfmgr/boost_ctrl/eas_ctrl/boot_boost "0 0"
    write /proc/perfmgr/boost_ctrl/eas_ctrl/boot_boost "1 0"
    write /proc/perfmgr/boost_ctrl/eas_ctrl/boot_boost "2 0"
    write /proc/perfmgr/boost_ctrl/eas_ctrl/boot_boost "3 0"
    write /proc/perfmgr/boost_ctrl/cpu_ctrl/boot_freq "-1 -1 -1 -1"
    write /sys/devices/platform/10012000.dvfsrc/helio-dvfsrc/dvfsrc_req_ddr_opp "-1"
